//! **************************************************************************
// Written by: Map M.81d on Mon Jun 25 08:57:54 2012
//! **************************************************************************

SCHEMATIC START;
COMP "sysclk" LOCATE = SITE "H17" LEVEL 1;
COMP "c4" LOCATE = SITE "J3" LEVEL 1;
COMP "d5" LOCATE = SITE "N1" LEVEL 1;
COMP "d6" LOCATE = SITE "M3" LEVEL 1;
COMP "d7" LOCATE = SITE "M1" LEVEL 1;
COMP "d8" LOCATE = SITE "L2" LEVEL 1;
COMP "l1" LOCATE = SITE "T6" LEVEL 1;
COMP "l2" LOCATE = SITE "V6" LEVEL 1;
COMP "l3" LOCATE = SITE "U8" LEVEL 1;
COMP "l4" LOCATE = SITE "V8" LEVEL 1;
COMP "r1" LOCATE = SITE "L3" LEVEL 1;
COMP "s1" LOCATE = SITE "N3" LEVEL 1;
COMP "r3" LOCATE = SITE "K1" LEVEL 1;
COMP "s4" LOCATE = SITE "L6" LEVEL 1;
COMP "s8" LOCATE = SITE "T2" LEVEL 1;
COMP "dl" LOCATE = SITE "V7" LEVEL 1;
COMP "dn" LOCATE = SITE "T5" LEVEL 1;
COMP "en" LOCATE = SITE "F5" LEVEL 1;
COMP "dr" LOCATE = SITE "T7" LEVEL 1;
COMP "ld" LOCATE = SITE "U7" LEVEL 1;
COMP "dt" LOCATE = SITE "U5" LEVEL 1;
COMP "md" LOCATE = SITE "R7" LEVEL 1;
COMP "ml" LOCATE = SITE "N5" LEVEL 1;
COMP "rd" LOCATE = SITE "V5" LEVEL 1;
COMP "mr" LOCATE = SITE "R5" LEVEL 1;
COMP "lu" LOCATE = SITE "R3" LEVEL 1;
COMP "mu" LOCATE = SITE "T4" LEVEL 1;
COMP "ul" LOCATE = SITE "T3" LEVEL 1;
COMP "ru" LOCATE = SITE "N4" LEVEL 1;
COMP "up" LOCATE = SITE "P6" LEVEL 1;
COMP "rw" LOCATE = SITE "C2" LEVEL 1;
COMP "ur" LOCATE = SITE "V4" LEVEL 1;
COMP "ws" LOCATE = SITE "L15" LEVEL 1;
COMP "data" LOCATE = SITE "L16" LEVEL 1;
COMP "appsel" LOCATE = SITE "H18" LEVEL 1;
COMP "db0" LOCATE = SITE "F6" LEVEL 1;
COMP "db1" LOCATE = SITE "D3" LEVEL 1;
COMP "db2" LOCATE = SITE "E4" LEVEL 1;
COMP "db3" LOCATE = SITE "G6" LEVEL 1;
COMP "db4" LOCATE = SITE "H7" LEVEL 1;
COMP "db5" LOCATE = SITE "D1" LEVEL 1;
COMP "db6" LOCATE = SITE "D2" LEVEL 1;
COMP "db7" LOCATE = SITE "F3" LEVEL 1;
COMP "cs1" LOCATE = SITE "F4" LEVEL 1;
COMP "cs2" LOCATE = SITE "E1" LEVEL 1;
COMP "bck" LOCATE = SITE "K16" LEVEL 1;
COMP "clk" LOCATE = SITE "R10" LEVEL 1;
COMP "di" LOCATE = SITE "C1" LEVEL 1;
COMP "ld0000" LOCATE = SITE "K4" LEVEL 1;
COMP "ld0001" LOCATE = SITE "K3" LEVEL 1;
COMP "ld0010" LOCATE = SITE "L5" LEVEL 1;
COMP "ld0011" LOCATE = SITE "K5" LEVEL 1;
COMP "ld0100" LOCATE = SITE "H4" LEVEL 1;
COMP "ld0101" LOCATE = SITE "H3" LEVEL 1;
COMP "ld0110" LOCATE = SITE "L7" LEVEL 1;
COMP "ld0111" LOCATE = SITE "K6" LEVEL 1;
COMP "ld1000" LOCATE = SITE "G3" LEVEL 1;
COMP "ld1001" LOCATE = SITE "G1" LEVEL 1;
COMP "ld1010" LOCATE = SITE "J7" LEVEL 1;
COMP "ld1011" LOCATE = SITE "J6" LEVEL 1;
COMP "ld1100" LOCATE = SITE "F2" LEVEL 1;
COMP "ld1101" LOCATE = SITE "F1" LEVEL 1;
COMP "ld1110" LOCATE = SITE "H6" LEVEL 1;
COMP "ld1111" LOCATE = SITE "H5" LEVEL 1;
COMP "rst" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

