
# PlanAhead Generated physical constraints 

NET "appsel" LOC = H18;
NET "bck" LOC = K16;
NET "clk" LOC = R10;
NET "c4" LOC = J3;
NET "cs1" LOC = F4;
NET "cs2" LOC = E1;
NET "data" LOC = L16;
NET "d5" LOC = N1;
NET "d6" LOC = M3;
NET "d7" LOC = M1;
NET "d8" LOC = L2;
NET "db0" LOC = F6;
NET "db1" LOC = D3;
NET "db2" LOC = E4;
NET "db3" LOC = G6;
NET "db4" LOC = H7;
NET "db5" LOC = D1;
NET "db6" LOC = D2;
NET "db7" LOC = F3;
NET "di" LOC = C1;
NET "dl" LOC = V7;
NET "dn" LOC = T5;
NET "dr" LOC = T7;
NET "dt" LOC = U5;
NET "en" LOC = F5;
NET "l1" LOC = T6;
NET "l2" LOC = V6;
NET "l3" LOC = U8;
NET "l4" LOC = V8;
NET "ld" LOC = U7;
NET "ld0000" LOC = K4;
NET "ld0001" LOC = K3;
NET "ld0010" LOC = L5;
NET "ld0011" LOC = K5;
NET "ld0100" LOC = H4;
NET "ld0101" LOC = H3;
NET "ld0110" LOC = L7;
NET "ld0111" LOC = K6;
NET "ld1000" LOC = G3;
NET "ld1001" LOC = G1;
NET "ld1010" LOC = J7;
NET "ld1011" LOC = J6;
NET "ld1100" LOC = F2;
NET "ld1101" LOC = F1;
NET "ld1110" LOC = H6;
NET "ld1111" LOC = H5;
NET "lu" LOC = R3;
NET "md" LOC = R7;
NET "ml" LOC = N5;
NET "mr" LOC = R5;
NET "mu" LOC = T4;
NET "r1" LOC = L3;
//NET "r2" LOC = L4;
NET "r3" LOC = K1;
NET "rd" LOC = V5;
NET "rst" LOC = E3;
NET "ru" LOC = N4;
NET "rw" LOC = C2;
NET "s1" LOC = N3;
NET "s4" LOC = L6;
//NET "s6" LOC = U2;
NET "s8" LOC = T2;
NET "sysclk" LOC = H17;
NET "ul" LOC = T3;
NET "up" LOC = P6;
NET "ur" LOC = V4;
NET "ws" LOC = L15;
